@use '../partials/variables' as *;

* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Avenir', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype'),
    url('../../assets/fonts/AlternativeFiles/AvenirNextLTPro.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype'),
    url('../../assets/fonts/AlternativeFiles/AvenirNextLTProDemi.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype'),   
    url('../../assets/fonts/AlternativeFiles/AvenirNextLTProBold.ttf') format('truetype');
    font-weight: 700;
}