// Colors: 
$black: #323232;
$dark-black: #000000;
$blue: #0095FF;
$dark-blue: #0065AD;
$silver: #AFAFAF;
$white: #FFFFFF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

// Breakpoints: 
$small-breakpoint: 340px;
$tablet-breakpoint: 768px; 
$desktop-breakpoint: 1280px;