@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.nav {
    background-color: $white;
    border-bottom: 1px solid $mercury;

    .nav__cntnt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1rem;
        width: 100%;

        @include tablet {
            padding: 1rem 3rem;
        }

        @include desktop {
            padding-inline: 8rem;
        }
    }

    .nav__logo {
        height: 3rem;
        width: auto;
        margin-block: 1rem;
        cursor: pointer;

        @include tablet {
            height: 2rem;
        }

        @include desktop {
            height: 1.75rem;
        }
    }

    .galleryicon, .upload, .findartist {
        height: 3rem;
        width: auto;
        cursor: pointer;

        @include tablet {
            height: 2rem;
        }

        @include desktop {
            height: 1.75rem;
        }
    }
}
