// navbar.scss

@import '../../styles/partials/variables';

.nav {
    background-color: $white;
    border-bottom: 1px solid $mercury;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; // Adjust the padding as needed

    .nav__cntnt {
        display: flex;
        align-items: center;

        .nav__logo {
            height: 3rem;
            width: auto;
            margin-right: 1rem; // Adjust the margin as needed
            cursor: pointer;
        }

        .nav__sub-cntnt {
            display: flex;
            align-items: center;

            .galleryicon, .upload, .findartist {
                height: 3rem; // Equal height for all icons
                margin-right: 1rem; // Adjust the margin as needed
                cursor: pointer;
            }
        }
    }

    // Add your media queries for tablet and desktop styling if necessary
}
